.Main {
  width: 50%;
  min-height: 500px;
  margin: 50px auto;
  background-color: pink;
}
.title {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid black;
}
.select {
  width: 220px;
  height: 25px;
  margin-top: 10px;
}
.flexStyle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexStyle1 {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.buttonWeeks {
  background-color: blueviolet;
  padding: 10px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  z-index: 10;
}
.closeButton {
  background-color: red;
  padding: 5px;
  font-size: 14px;
  color: black;
  border-radius: 20px;
  z-index: 10;
}
.flexStyle2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options {
  color: black;
  direction: rtl;
  cursor: pointer;
}
.borderBottom {
  border-bottom: 2px solid black;
}
.mRight {
  margin-right: 20px;
}
.mb {
  margin-bottom: 10px;
}
.game {
  display: flex;
  width: 400px;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.esm {
  width: 100%;
  direction: rtl;
  text-align: right;
}
.esmDavara {
  display: flex;
  justify-content: center;
  align-items: center;
}
.davara {
  direction: rtl;
  display: flex;
  width: 400px;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.kkk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.modal {
  z-index: 20;
  overflow-y: scroll;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: teal;
  background-color: white;
  color: black;
}
